Login/Web References/WS_Producto_FTCapital/WS_Producto_FTCapital.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cesion.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://cavali.com.pe/ib/esb" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://cavali.com.pe/ib/esb/srv04001" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cesion.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cesion.org/">
      <s:import namespace="http://cavali.com.pe/ib/esb" />
      <s:import namespace="http://cavali.com.pe/ib/esb/srv04001" />
      <s:element name="SolicitarAcceso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cabecera" type="s1:CABECERA_Type" />
            <s:element minOccurs="0" maxOccurs="1" name="datosWC" type="s2:DATOS_Type" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SolicitarAccesoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SolicitarAccesoResult" type="s2:MENSAJERES_Type" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cavali.com.pe/ib/esb">
      <s:complexType name="CABECERA_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="APP_CONSUMIDORA" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CABECERARes_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="APP_CONSUMIDORA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="COD_RESPUESTA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DES_RESPUESTA" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cavali.com.pe/ib/esb/srv04001">
      <s:import namespace="http://cavali.com.pe/ib/esb" />
      <s:complexType name="DATOS_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Key" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MENSAJERES_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="INTEGRES" type="s2:INTEGRACIONRES_Type" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="INTEGRACIONRES_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="CABECERA" type="s1:CABECERARes_Type" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DETALLE" type="s2:DETALLERes_Type" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DETALLERes_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="DATOS" type="s2:DATOSRes_Type" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DATOSRes_Type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="resultCode" type="s:integer" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SolicitarAccesoSoapIn">
    <wsdl:part name="parameters" element="tns:SolicitarAcceso" />
  </wsdl:message>
  <wsdl:message name="SolicitarAccesoSoapOut">
    <wsdl:part name="parameters" element="tns:SolicitarAccesoResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_Producto_FTCapitalSoap">
    <wsdl:operation name="SolicitarAcceso">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Solicitar Acceso</wsdl:documentation>
      <wsdl:input message="tns:SolicitarAccesoSoapIn" />
      <wsdl:output message="tns:SolicitarAccesoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_Producto_FTCapitalSoap" type="tns:WS_Producto_FTCapitalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitarAcceso">
      <soap:operation soapAction="http://cesion.org/SolicitarAcceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_Producto_FTCapitalSoap12" type="tns:WS_Producto_FTCapitalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitarAcceso">
      <soap12:operation soapAction="http://cesion.org/SolicitarAcceso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Producto_FTCapital">
    <wsdl:port name="WS_Producto_FTCapitalSoap" binding="tns:WS_Producto_FTCapitalSoap">
      <soap:address location="http://localhost:54317/WS_Producto_FTCapital.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_Producto_FTCapitalSoap12" binding="tns:WS_Producto_FTCapitalSoap12">
      <soap12:address location="http://localhost:54317/WS_Producto_FTCapital.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>